<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="SFSCoreSecurityContext" connectionString="data source=sfstools.database.windows.net;initial catalog=ks-time-kb;user id=sfstools;password=Pass.word1313"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
