<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SFS.Core.Api.dll exec &quot;X:\Dev\SFSTools\src\Server\SFS.Core.Api\bin\Debug\netcoreapp2.2\SFS.Core.Api.dll&quot;" stdoutLogEnabled="false" hostingModel="inprocess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <!--  <rule name="wildcard">
            <match url=".*well-known/pki-validation/(?!.*?\.txt$)(.*)$" />
            <action type="Redirect" url="/well-known/pki-validation/{R:1}.txt" />
          </rule>-->
          <rule name="wildcard">
            <match url=".*well-known/acme-challenge/(?!.*?\.txt$)(.*)$" />
            <action type="Rewrite" url="/.well-known/acme-challenge/{R:1}.txt" />
          </rule>
        <rule name="login">
            <match url=".*/App/$" />
            <action type="Redirect" url="/App/#/login" />
          </rule>
        </rules>
      </rewrite>
      <staticContent>
        <remove fileExtension="." />
        <mimeMap fileExtension="." mimeType="text/plain" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: a09adbf1-c27e-4972-878b-c80419d930c2-->