<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="KSTimeContext" connectionString="data source=tecreemos-todosi-qa.database.windows.net;initial catalog=tecreemos-todosi-qa-biz;user id=tecreemos;password=tds.3232"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
