<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <connectionStrings>
    <add name="KSTimeContext" connectionString="data source=tc-todosi-qa.database.windows.net;initial catalog=tc-todosi-qa-biz;user id=tc-todosi-qa;password=tc.12$qa"
       providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
